/* Offsets for fixed navbar */
body {
  background-color: #f8f8fa !important;
  color: #777;
  font: 12px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300; }

a {
  color: #777;
  /* Social media icons for speakers */ }
  a:hover {
    color: #e12b00;
    text-decoration: none; }
  a .speaker-social {
    margin-right: 0.3em; }
    a .speaker-social:hover {
      text-decoration: none; }

/* Navbar adjustments */
.logo {
  max-height: 45px;
  max-width: 110px; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #e7e7e7; }
  .navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 11px; }

.navbar-header {
  margin-left: 20px; }

.navlink {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  top: 2px; }
  .navlink a {
    padding-bottom: 14px; }
    .navlink a:hover {
      border-bottom: 3px solid #777;
      text-decoration: none; }

.navbar-toggle {
  color: #777;
  padding: 6px 10px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #777; }

/* General styling of session list */
.sessions ul {
  list-style: none; }
  .sessions ul li:after {
    content: ','; }
  .sessions ul li:last-of-type:after {
    content: ''; }

/* Adjustments for smaller screens */
@media (min-width: 450px) {
  body {
    font-size: 14px; } }

@media (min-width: 768px) {
  #day-menu .dropdown-menu {
    display: block;
    opacity: 0;
    top: -500px;
    -moz-transition: opacity 500ms ease;
    -ms-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease; }
    #day-menu .dropdown-menu:hover {
      display: block;
      opacity: 1;
      top: 50px; }
  #day-menu > .dropdown-toggle:hover + .dropdown-menu {
    opacity: 1;
    top: 50px; }
  #day-menu > .dropdown-toggle:hover {
    background-color: #e7e7e7; } }

.btn-sign-up {
  background: #ff8700;
  color: #fff;
  margin-left: 5px;
  margin-top: -5px; }

.video-link {
  margin-left: 3px; }
  .video-link > .fa {
    color: #757575;
    font-size: 22px; }
    .video-link > .fa:hover {
      color: #e52d27; }

.session-link > .fa {
  color: #757575;
  font-size: 18px; }
  .session-link > .fa:hover {
    color: #2196F3; }

@media (max-width: 450px) {
  .session-link > .fa {
    font-size: 24px; }
  .video-link > .fa {
    font-size: 28px; }
  .btn-sign-up {
    font-size: 15px;
    margin-top: -8px; } }

@media (max-width: 500px) {
  .nav > li > a {
    padding: 8px !important; } }

.section-header {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 42px;
  margin-top: 50px; }

.inputbox {
  margin-left: 5px;
  padding: 4px;
  width: 35%; }

.speakers-inputbox {
  margin-left: 5px;
  padding: 0;
  vertical-align: top;
  width: 50%; }

.s-popup-header-name {
  display: inline-block !important;
  font-size: 15px !important;
  font-weight: normal;
  max-width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap; }

::selection {
  background-color: #ff8700;
  color: #fff; }

.footer {
  bottom: 0;
  color: #777;
  height: 100px;
  margin: 0;
  padding: 15px;
  text-align: center; }

.large {
  display: block;
  height: auto;
  margin: 1%;
  max-width: 100%;
  padding: 3%;
  width: auto;
  max-height: 200px; }

.medium {
  display: block;
  height: auto;
  margin: 1%;
  max-width: 100%;
  padding: 3%;
  width: auto;
  max-height: 140px; }

.small {
  display: block;
  height: auto;
  margin: 1%;
  max-width: 100%;
  padding: 3%;
  width: auto;
  max-height: 120px; }

.sponsors {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  margin: 25px;
  padding: 10px 15px;
  position: relative; }

.mediumoffset:first-child {
  margin-left: 8.33%; }

.smalloffset {
  margin-left: 41.66666667%; }

.largeoffset {
  margin-left: 36%; }

.sublargeoffset:first-child {
  margin-left: 16.6%; }

.subsmalloffset {
  margin-left: 41.66666667%; }

@media (max-width: 792px) {
  .sublargeoffset:first-child {
    margin-left: 0%; }
  .mediumoffset:first-child {
    margin-left: 0%; } }

@media (max-width: 892px) {
  .largeoffset {
    margin-left: 10%; }
  .smalloffset {
    margin-left: 10%; } }

.centre {
  display: block;
  margin: 0 auto; }

/* Track SCSS */
.event {
  background: #b7cdff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid transparent;
  border-radius: 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: block;
  margin: 12px;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  width: auto;
  word-wrap: break-word; }

.sizeevent {
  font-style: normal;
  font-weight: 400;
  padding: 20px;
  width: auto; }
  .sizeevent span {
    font-weight: 700; }

.trackwidth {
  width: 112px; }

@media (max-width: 660px) {
  .event {
    max-width: 400px; } }

@media (max-width: 660px) {
  .event {
    max-width: 270px; } }

.date-list {
  line-height: 40px;
  margin-top: 50px; }

.date-pill {
  border: thin solid;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5;
  margin: 10px;
  padding: 6px;
  white-space: nowrap; }

#track-list {
  margin-bottom: 8%;
  margin-top: 8%; }

.left-border {
  border-left: 1px solid #e6e6e6; }

.text {
  color: #000;
  font-size: 22px;
  text-align: justify;
  word-wrap: break-word; }

.tracks {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 70px; }

/* Pop over Track */
.arrow {
  height: 10px;
  left: 6px;
  margin-top: -9px;
  overflow: hidden;
  position: absolute;
  width: 25px;
  z-index: 1000; }
  .arrow span {
    background: #efefef;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    display: block;
    height: 14px;
    margin: 1px 0 0 4px;
    width: 14px;
    zoom: 1;
    -moz-box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.37);
    -moz-transform: rotate(45deg) skew(-10deg, -10deg);
    -ms-transform: rotate(45deg) skew(-10deg, -10deg);
    -o-transform: rotate(45deg) skew(-10deg, -10deg);
    -webkit-box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.37);
    -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
    box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.37);
    transform: rotate(45deg) skew(-10deg, -10deg); }

.pop-box {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  height: auto;
  min-height: 255px;
  position: absolute;
  transition: all 0.5s ease;
  width: 355px;
  z-index: 1000; }
  .pop-box .pop > hr {
    margin: 10px 0;
    min-width: calc(100% - 20px); }
  .pop-box .pop > h4 {
    margin-left: -20px; }
  .pop-box .pop > .pop-over.row {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 10px; }
  .pop-box .pop {
    background-color: #fff;
    margin-left: 20px;
    border-radius: 3px; }
    .pop-box .pop a {
      margin-left: -5px; }
    .pop-box .pop .pop-over > .sessions {
      padding: 0; }
    .pop-box .pop .pop-over {
      color: #777;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
      padding: 0;
      word-wrap: break-word; }
  .pop-box .pop-header {
    background: #efefef;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 35px;
    margin-left: -20px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px; }

#headline {
  padding: 8px; }

.main {
  background-color: #fff;
  margin-bottom: 1%;
  margin-top: 2%;
  padding-top: 2%; }

.card-container {
  padding: 4%; }
  .card-container .card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 0.125em 0.275em 0 rgba(0, 0, 0, 0.125);
    display: block;
    margin: 0 auto;
    margin-top: 30%;
    width: 250px; }
    .card-container .card .card-img-top {
      height: 235px;
      overflow: hidden;
      width: 248px; }
    .card-container .card .card-block {
      height: 330px;
      overflow-y: hidden;
      overflow-x: hidden;
      padding: 2%; }
      .card-container .card .card-block:hover {
        overflow-y: overlay; }
      .card-container .card .card-block .card-text {
        color: #2482d3;
        line-height: normal;
        padding: 1%;
        word-wrap: break-word; }
      .card-container .card .card-block .description {
        color: #000;
        margin: 4%;
        padding: 4px;
        text-align: center; }
    .card-container .card .icons {
      color: #757575;
      height: 43px;
      font-size: 18px;
      padding: 4%;
      text-align: center; }

/*
.filter-heading span{
position :relative;
color: $black;
}
.filter-heading span:after{
left:100%;
margin-left:0.5em;
}
.filter-heading span:after{
right:100%;
margin-right:0.5em;
}
.filter-heading span:after, .filter-heading span:before {
content: "";
position: absolute;
top: 50%;
height: 3px;
display: block;
width:349px;
margin-top: -2px;
border-top: 1px solid $gray-dark;
border-bottom: 1px solid $gray-dark;
}
.track-heading span:after,.track-heading span:before {
width:299px;
}
*/
.track-heading {
  margin-top: 40px; }

.active {
  color: #000 !important;
  font-weight: bold;
  text-decoration: underline; }

.eventtime {
  color: #777;
  height: 46px;
  text-align: center;
  transform: translateY(30%);
  vertical-align: middle; }

.sesroom {
  color: #fff;
  padding: 1%;
  margin-left: 4%;
  max-width: 500px; }

@media only screen and (min-width: 600px) and (max-width: 700px) {
  .sesroom {
    max-width: 400px; } }

@media only screen and (min-width: 458px) and (max-width: 600px) {
  .sesroom {
    max-width: 300px; } }

@media (max-width: 458px) {
  .sesroom {
    max-width: 250px; } }

.titlecolor {
  border-radius: 50%;
  height: 12px;
  width: 12px; }

.title-inline {
  padding: 0;
  position: relative; }
  .title-inline li {
    display: inline-block;
    max-width: 188.6px;
    vertical-align: top;
    word-wrap: break-word; }

.title-legend {
  float: right;
  width: 215px; }

.track-names {
  color: #000;
  margin-top: 16%; }

@media (max-width: 990px) {
  .title-legend {
    float: left;
    width: 40%; }
  .track-names {
    margin-top: 0; } }

/*
@media (max-width: 1202px) and (min-width: 760px){
.filter-heading span:after, .filter-heading span:before  {
width: 270px;
}
}
@media (max-width: 760px) and (min-width: 664px){
.filter-heading span:after, .filter-heading span:before  {
width: 223px;
}
}
@media (max-width: 664px) and (min-width: 620px){
.filter-heading span:after, .filter-heading span:before  {
width: 213px;
}
}
@media (max-width: 620px) and (min-width: 581px){
.filter-heading span:after, .filter-heading span:before  {
width: 188px;
}
}
@media (max-width: 581px) and (min-width: 550px){
.filter-heading span:after, .filter-heading span:before  {
width: 176px;
}
}
@media (max-width: 550px) and (min-width: 521px){
.filter-heading span:after, .filter-heading span:before  {
width: 156px;
}
}
@media (max-width: 550px) and (min-width: 521px){
.filter-heading span:after, .filter-heading span:before  {
width: 156px;
}
}
@media (max-width: 521px) and (min-width: 421px){
.filter-heading span:after, .filter-heading span:before  {
width: 134px;
}
}
@media (max-width: 421px) {
.filter-heading span:after, .filter-heading span:before  {
width: 116px;
}
}

*/
@media (max-width: 767px) {
  .pop-box {
    width: 100%; }
    .pop-box .arrow {
      left: 48%;
      margin-top: -10px; } }

.header-pop {
  display: inline-block; }

.track-inline {
  display: inline-block;
  vertical-align: text-top; }

.carousel, .carousel .item {
  height: 500px; }
  .carousel-caption, .carousel .item-caption {
    bottom: 100px;
    color: #fff;
    left: 10.2%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10; }
    .carousel-caption h4, .carousel-caption h1, .carousel .item-caption h4, .carousel .item-caption h1 {
      color: #fff; }

@media (min-width: 768px) {
  .carousel-caption h1 {
    font-size: 50px; } }

.eventpage {
  margin-top: -66px;
  padding: 0;
  position: relative;
  overflow: hidden; }
  .eventpage .listing-panel {
    background-color: #fff;
    border-color: #d2d6df;
    border-style: solid;
    border-width: 0 0 1px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px; }

.eventdes {
  color: #777;
  padding-top: 30px;
  text-align: justify; }

.speaker-info {
  cursor: pointer;
  height: 280px;
  margin-bottom: 10px;
  padding: 0; }
  .speaker-info .name {
    padding: 0 4px;
    word-wrap: break-word; }

#map {
  display: block;
  margin: auto;
  height: 75vh; }

.speakers-row {
  padding: 0 15px; }
  .speakers-row .speaker-column {
    padding: 0; }
    .speakers-row .speaker-column .speaker {
      margin-bottom: 36px;
      position: relative; }
      .speakers-row .speaker-column .speaker span {
        display: block;
        font-size: 16px; }
      .speakers-row .speaker-column .speaker .image-holder {
        margin-bottom: 12px;
        overflow: hidden;
        position: relative; }
        .speakers-row .speaker-column .speaker .image-holder .background-image {
          background-color: #f8f8fa;
          display: block;
          height: 300px;
          margin: 0 auto;
          width: 300px; }
        .speakers-row .speaker-column .speaker .image-holder .responsive-overlay {
          height: 100%;
          position: absolute;
          top: 0;
          width: 100%; }
          .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .preserve3d {
            height: 300px; }
          .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state {
            background: rgba(0, 0, 0, 0.5);
            display: block;
            height: 262.5px;
            left: 0;
            opacity: 0;
            position: relative;
            top: 0;
            width: 262.5px;
            z-index: 2;
            -moz-transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            height: 300px;
            width: 300px; }
            .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state .bio {
              color: #fff;
              margin-left: 10px;
              margin-right: 10px;
              max-width: 280px; }
          @media screen and (max-width: 892px) {
            .speakers-row .speaker-column .speaker .image-holder .responsive-overlay .hover-state {
              margin: 0 auto; } }
        .speakers-row .speaker-column .speaker .image-holder .social-links {
          position: absolute;
          top: 0%;
          width: 100%;
          -moz-transform: translate3d(0, -200px, 0);
          -moz-transition: all 0.3s ease-out;
          -webkit-transform: translate3d(0, -200px, 0);
          -webkit-transition: all 0.3s ease-out;
          transform: translate3d(0, -200px, 0);
          transition: all 0.3s ease-out; }
          .speakers-row .speaker-column .speaker .image-holder .social-links a {
            color: #fff;
            display: inline-block;
            font-size: 24px;
            margin-left: 6px; }
          .speakers-row .speaker-column .speaker .image-holder .social-links a:hover {
            color: red; }
        .speakers-row .speaker-column .speaker .image-holder:hover > .hover-state {
          opacity: 1; }
          .speakers-row .speaker-column .speaker .image-holder:hover > .hover-state .social-links {
            position: absolute;
            top: 140%; }

.vertical-align {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.speaker-name {
  color: #333333;
  height: 22px;
  text-align: center; }

@media only screen and (max-width: 692px) {
  span.speaker-name {
    text-align: center; } }

@media only screen and (max-width: 500px) {
  span.speaker-name {
    text-align: center; } }

.middle {
  padding: 4%;
  text-align: center; }

.sponsorscont {
  padding: 72px; }

.vcenter {
  transform: translateY(30%); }

.sponsorimg {
  height: 80px;
  line-height: 80px;
  margin-bottom: 36px; }
  .sponsorimg img {
    max-height: 80px;
    max-width: 150px; }

.duplicatable-content {
  padding-bottom: 36px; }

.speaker-with-bio {
  margin-bottom: 36px;
  overflow: hidden; }
  .speaker-with-bio .speaker {
    float: left;
    margin-bottom: 0;
    width: 50%; }
    .speaker-with-bio .speaker .image-holder {
      overflow: hidden;
      position: relative; }
      .speaker-with-bio .speaker .image-holder:hover .hover-state {
        opacity: 1; }
        .speaker-with-bio .speaker .image-holder:hover .hover-state .social-links {
          position: absolute;
          top: 140%; }
      .speaker-with-bio .speaker .image-holder .background-image {
        height: 262.5px;
        width: 262.5px; }
    .speaker-with-bio .speaker .responsive-overlay {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%; }
      .speaker-with-bio .speaker .responsive-overlay .hover-state {
        background: rgba(0, 0, 0, 0.5);
        display: block;
        height: 262.5px;
        left: 0;
        opacity: 0;
        position: relative;
        top: 0;
        width: 262.5px;
        z-index: 2;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        .speaker-with-bio .speaker .responsive-overlay .hover-state .social-links {
          position: absolute;
          top: 0%;
          width: 100%;
          -moz-transform: translate3d(0, -200px, 0);
          -moz-transition: all 0.3s ease-out;
          -webkit-transform: translate3d(0, -200px, 0);
          -webkit-transition: all 0.3s ease-out;
          transform: translate3d(0, -200px, 0);
          transition: all 0.3s ease-out; }
          .speaker-with-bio .speaker .responsive-overlay .hover-state .social-links a {
            color: #fff;
            display: inline-block;
            font-size: 24px;
            margin-left: 6px; }
          .speaker-with-bio .speaker .responsive-overlay .hover-state .social-links a:hover {
            color: red; }
  .speaker-with-bio .speaker-description {
    float: left;
    max-height: 262.5px;
    overflow: hidden;
    padding-left: 30px;
    width: 50%; }
    .speaker-with-bio .speaker-description:hover {
      overflow-x: hidden;
      overflow-y: overlay; }
    .speaker-with-bio .speaker-description span {
      display: inline-block;
      font-weight: 600;
      margin-bottom: 18px; }
    .speaker-with-bio .speaker-description p {
      font-size: 14px;
      line-height: 24px;
      margin: 0 0 10px; }

@media (max-width: 992px) {
  .speaker-with-bio .speaker {
    width: 100%; }
    .speaker-with-bio .speaker .image-holder > .background-image {
      display: block;
      margin: 0 auto; }
  .speaker-with-bio .speaker-description {
    padding-left: 0;
    text-align: center;
    width: 100%; } }

@media screen and (max-width: 992px) {
  .speaker-with-bio > .speaker > .image-holder > .responsive-overlay > .hover-state {
    margin: 0 auto; } }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .speaker-with-bio .speaker > .image-holder .background-image {
    height: 212.5px;
    width: 212.5px; }
  .speaker-with-bio .speaker > .image-holder .responsive-overlay > .hover-state {
    height: 212.5px;
    width: 212.5px; }
  .speaker-with-bio .speaker-description {
    height: 212.5px;
    width: 212.5px; }
  .speakers-row {
    padding: 0 75px; }
    .speakers-row .speaker-column {
      text-align: center; }
      .speakers-row .speaker-column .speaker > .image-holder .background-image {
        height: 212.5px;
        width: 212.5px; }
      .speakers-row .speaker-column .speaker > .image-holder .responsive-overlay > .hover-state {
        height: 212.5px;
        width: 212.5px; } }

.vertical-align {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.tweets-feed {
  color: #777;
  font-size: 20px;
  height: 100px;
  line-height: 30px;
  margin-bottom: 20px;
  transition: opacity 0.2s linear; }
  .tweets-feed a {
    color: #777;
    font-weight: 700;
    text-decoration: underline; }
  .tweets-feed #dateTweeted {
    display: block;
    font-size: 15px; }

.tweet-row {
  margin-bottom: 80px;
  padding: 0;
  transform: translateY(30%); }
  .tweet-row .social_twitter {
    font-size: 60px;
    margin-bottom: 12px; }

.footer-container {
  margin: 0 auto;
  max-width: 1600px; }
  .footer-container .classic {
    background: #f5f5f5;
    padding: 72px 0 36px; }
    .footer-container .classic .menu {
      display: inline-block;
      line-height: 1;
      list-style: none;
      margin-bottom: 14px;
      padding: 0;
      text-align: left; }
      .footer-container .classic .menu li {
        color: #000;
        float: none;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 12px;
        position: relative;
        text-transform: uppercase;
        top: 4px; }
    .footer-container .classic span > .lead {
      display: inline-block;
      font-weight: 400;
      margin-bottom: 12px; }
    .footer-container .classic .social-profiles {
      display: inline-block; }
      .footer-container .classic .social-profiles li {
        display: inline-block; }
    .footer-container .classic a {
      text-decoration: none; }
      .footer-container .classic a:hover {
        color: #000; }
  .footer-container .contact-details {
    left: 40px;
    margin-bottom: 14px; }
    .footer-container .contact-details .contact-methods {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer-container .contact-details .contact-methods i {
        color: #777;
        font-size: 36px; }
      .footer-container .contact-details .contact-methods li {
        list-style: none;
        margin-bottom: 12px;
        position: relative; }
      .footer-container .contact-details .contact-methods span {
        display: inline-block;
        font-size: 14px;
        left: 8px;
        position: relative;
        width: 188px; }
        .footer-container .contact-details .contact-methods span a {
          border-bottom: 3px solid #fff;
          bottom: 10px;
          left: 8px;
          padding-bottom: 4px;
          position: relative; }
      .footer-container .contact-details .contact-methods .address > span {
        vertical-align: top; }
  @media (max-width: 892px) {
    .footer-container .contact-details {
      left: 0; } }

.room-container > .tip-description {
  color: #777;
  line-height: 2;
  text-align: left; }

.graytext {
  color: #777; }

.search-filter .fossasia-filter,
.search-filter-speaker .fossasia-filter {
  background-color: #fff;
  border: 1px solid #696969;
  color: #000;
  font-family: verdana;
  font-size: 10pt;
  height: 28px;
  padding-left: 2px;
  width: 186px; }

.search-filter-speaker {
  margin-bottom: 3.5rem;
  overflow: hidden; }
  .search-filter-speaker .fossasia-filter {
    display: block;
    margin: 0 auto; }

.search-filter {
  display: inline;
  float: right;
  padding-top: 12px; }
  .search-filter .fossasia-filter {
    float: left; }
  @media only screen and (max-width: 600px) {
    .search-filter {
      float: none; }
      .search-filter .fossasia-filter {
        display: block;
        float: none;
        margin: 0 auto; } }
