//FONT FAMILIES

$font-family: (
    default: 'Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif',
    roman: 'Cambria, Times, "Times New Roman", serif',
    sans-serif-1: 'Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif',
    sans-serif-2: '"Lucida Grande", Verdana, "Verdana Ref", sans-serif',
    monospace: 'Consolas, "Lucida Console", "DejaVu Sans Mono", "Courier New", Courier, monospace'
);
