$georgia: Georgia;
$palatino: Palatino;
$times-new-roman: Times;
$arial: Arial;
$helvetica: Helvetica;
$gadget: Gadget;
$cursive: cursive;
$impact: Impact;
$verdana: Verdana;
$courier: Courier;
$monaco: Monaco;
