@charset 'UTF-8';
@import '../../_base/config';
// 1.Overwrite stuff
$corp-color: $gray-light;
$corp-color-darken: darken($corp-color, 10%);
$corp-color-second: $blue;
$corp-color-second-dark: darken($corp-color-second, 10%);
  
$base-font-size: 1.6;
$base-font-family: Droid Sans, Georgia, Arial;
$main-background: light;  
$base-border-radius: 0px;
$base-border-color: $gray-light;
$main-background: $white;
@import '../../application';
