dist: xenial
language: node_js
node_js:
  - 12

services:
  - docker
  - redis
  - xvfb

env:
  - TESTFOLDER=test/serverTest.js
  - TESTFOLDER=test/roomsAndSpeakers.js
  - TESTFOLDER=test/tracks.js
  - TESTFOLDER=test/generatorAndSchedule.js
  - TESTFOLDER=test/sessionEventAndCoC.js

addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - chromium-chromedriver
# installing required items for build
install:
  - npm install -g yarn
  - yarn global add nyc mocha
  - yarn

 # testing script
script:
  - nyc mocha --exit -- $TESTFOLDER

 # notify codecov and deploy to cloud
after_success:
  if ([ "$TESTFOLDER" == "test/serverTest.js" ]); then
    bash <(curl -s https://codecov.io/bash);
  fi

branches:
  only:
    - master
    - development
