language: node_js
node_js:
  - "5"
  # - "5.1"
  # - "4"
  # - "4.2"

before_script:

  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  -

addons:
    code_climate:
        repo_token: 46f6d31d6b0777711b6c7e733234b023bda56e2e02c792c68c889005cf032ea6