<div ng-controller="SponsorsController as sc" class="md-default-theme">
    <md-content>
        <!--<md-list>-->
            <!--<md-list-item ng-repeat="sponsor in sc.Sponsors" >-->
                <!--<div layout-fill="row">-->
                    <!--<p align="center">-->
                        <!--<img style="width: 33%; height: 33%" src="{{sponsor.logo}}"/>-->
                    <!--</p>-->
                <!--</div>-->
                <!--<md-divider style="border-top: 5px dotted rgba(0, 0, 0, 0.55);"></md-divider>-->
            <!--</md-list-item>-->

        <!--</md-list>-->
        <md-grid-list
                md-cols-sm="1" md-cols-md="4" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height-sm="2:1" md-row-height-md="1:1"
                md-gutter="8px" md-gutter-gt-sm="4px" >
            <md-grid-tile ng-repeat="sponsor in sc.Sponsors"
                          md-rowspan="{{2}}"
                          md-colspan="{{2}}"
                          md-colspan-sm="1">
                <img class="sponsor-logo"
                        src="{{sponsor.logo}}"/>


                <a ng-href="{{sponsor.url}}"><md-grid-tile-footer class="md-grid-tile-footer" style="background: rgba(0, 0, 0, 0.55);">
                    <h3>
                        {{sponsor.name}}
                    </h3>
                </md-grid-tile-footer></a>
            </md-grid-tile></a>
        </md-grid-list>
    </md-content>
</div>