@charset "UTF-8";

// Colors
$black: #000;
$white: #fff;
$red: #e2061c;
$gray-light: #c9c8c8;
$gray: #838282;
$gray-dark: #777;
$gray-dim: #696969;
$gray-extra-dark: #757575;
$gray-extra-light:#e7e7e7 !default;
$gray-perfect :#ddd;
$blue: #253652;
$orange: #e12b00;
$vivid-blue: #2196F3;
$pure-orange: #ff8700;
$light-purple: #ebccd1;
$red-dark: #e52d27;
$light-black: #333333;
$light-skyblue : #b7cdff !default;
$gray-trackshade: #999;
$blue-shade: #2482d3;
$dark-black: rgba(22, 22, 22, 0.99) !default;
$black-main:#232323 !default;
$timeroom-color:rgba(0,0,0,.10) !default;
$session-color: $gray-trackshade !default;
$header-color: #f8f8f8 !default;
$main-background: #fff !default;
$filter-heading:$gray-extra-dark !default;
$background-shade: #f8f8fa;
$event-border: #d2d6df;
$overlayimage: rgba(0, 0, 0, 0.5);
$border-event: rgba(0, 0, 0, 0.15);
$border-venue: #e6e6e6;
$navbar-color: rgba(255, 255, 255, 0.8);
$white-classic-background: #f5f5f5;
$black-text-shadow: rgba(0, 0, 0, 0.6);
$card-box-shadow: rgba(0, 0, 0, 0.125);
$event-box-shadow: rgba(0, 0, 0, 0.25);
$tracks-border-left: rgba(0, 0, 0, 0.10);
$span-box-shadow: rgba(255, 255, 255, 0.37);
$span-border-left: #c1c1c1;
$dropdown-background-color: #e7e7e7;
$span-background: #efefef;

// Corp-Colors
$corp-color: $white !default;
$corp-color-dark: darken($corp-color, 15%) !default;
$corp-color-second: $red !default;
$corp-color-second-dark: darken($corp-color-second, 15%) !default;

// Font
$base-font-size: 1.8 !default;
$base-font-family: Helvetica, Arial, Sans-Serif !default;
$base-font-color: $gray-dark !default;

// Border
$base-border-radius: 2px !default;
$rounded-border-radius: 50% !default;
$base-border-color: $gray !default;

// Icon colours for social buttons
$facebook-icon: #3b5998;
$twitter-icon: #55acee;
$google-icon: #dd4b39;
$linkedin-icon: #3b5998;
