
<md-dialog
        ng-controller="SpeakerDialogController as sdc" aria-label="{{sdc.speaker.name}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{sdc.speaker.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="sdc.close()">
                    <md-icon md-svg-src="assets/img/ic_toolbar_close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div>
                <md-subheader ng-if="sdc.speaker.subtitle.length>0">{{sdc.speaker.subtitle}}</md-subheader>
                <md-chips ng-model="sdc.speakerChips" readonly="true">
                    <md-chip-template ng-if="$chip.value.length>0">
                        <strong>{{$chip.field}}</strong> : <em>{{$chip.value}}</em>
                    </md-chip-template>
                </md-chips>
                <h4> Biography </h4>
                <p>
                    {{sdc.speaker.biography}}
                </p>
                <h4> Social Links </h4>
                <p>
                <div layout="row" layout-align="start center" style="padding-top: 10px" flex>
                    <span ng-if="(sdc.speaker.github.length>0)">
                        <a href="http://github.com/{{sdc.speaker.github}}" target="_blank">
                            <md-icon md-svg-icon="assets/img/ic_github.svg" class="github-icon"></md-icon>
                        </a>
                    </span>
                    <span ng-if="(sdc.speaker.facebook.length>0)">
                        <a href="http://facebook.com/{{sdc.speaker.facebook}}" target="_blank">
                            <md-icon md-svg-icon="assets/img/ic_facebook.svg" class="facebook-icon"></md-icon>
                        </a>
                    </span>
                    <span ng-if="(sdc.speaker.twitter.length>0)">
                        <a href="http://twitter.com/{{sdc.speaker.twitter}}" target="_blank">
                            <md-icon md-svg-icon="assets/img/ic_twitter.svg" class="twitter-icon"></md-icon>
                        </a>
                    </span>
                    <span ng-if="(sdc.speaker.linkedin.length>0)">
                        <a href="{{sdc.speaker.linkedin}}" target="_blank">
                            <md-icon md-svg-icon="assets/img/ic_linkedin.svg" class="linkedin-icon"></md-icon>
                        </a>
                    </span>
                    <span flex></span>
                </div>                
                </p>
                <h4> Sessions </h4>
                <p>
                    <div layout="row" layout-align="start center" style="padding-top: 10px" flex >
                        <span layout="row" ng-if="(sdc.count(sdc.speaker, sdc.allSessions)>0)"> 
                            <div layout="column" ng-repeat="session in sdc.sessionsDetail(sdc.speaker, sdc.allSessions)" flex>
                                <md-card ng-click="sdc.showSession(session, $event)" style="background-color: rgb(255, 235, 59);">
                                    <md-card-content class="md-card-content"> 
                                        <h5>{{session.title}}</h5>
                                    </md-card-content>
                                </md-card>
                            </div>                                                        
                        </span>                       
                        <span flex></span>
                    </div>
                </p>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

