<div ng-controller="SpeakersController as sc">
<div class="row">
	<div class="col-md-offset-4 col-xs-offset-4 input-box form-group btn-group">
    <input class=" form-control" ng-model="query" type="text">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a ><i class="icon-pencil" ng-click="filterspeakers('name')"></i> Name </a></li>
        <li><a><i class="icon-trash" ng-click="filterspeakers('org')"></i> Organisation</a></li>
    </ul>
</div> 
</div>




<speakerdirective speakerstemplate="speakerstemplate" newArr="newArr"></speakerdirective>
</div>