
@charset 'UTF-8';

// 1.Base
@import '_base/_config.scss';

/* Offsets for fixed navbar */
body {
  background-color: $background-shade !important;
  color: $gray-dark;
  font: 12px 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 50px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: $light-black;
  font-weight: 300;
}

a {
  color: $gray-dark;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
.active {
  color:black !important;
  border-bottom: 2px solid gray;
}
/* Social media icons for speakers */
  .speaker-social {
      margin-right: 0.3em;
       &:hover {
        text-decoration: none;
        }
  }

}

/* Navbar adjustments */
.logo {
  max-width: 110px;
  max-height: 45px;
}
.navbar-default {
  background-color: $header-color;
  border-color: $gray-extra-light;
}

.navbar-toggle {
  padding: 6px 10px;
  color: $gray-dark;
}

/* General styling of session list */

.session{
  &-description {
    color: $gray-dark;
  }
  &-type {
    color: $gray-dark;
  }
  &-list {

    li{
      cursor: pointer;
    }
    .label {
      background: #ff8700;
      border-color: $light-purple;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 80%;
      margin-left: -8px;
    }
    .session-title {
      margin-top: 0.1em;
        .session-link {
          font-size: 12px;
        }
    }
  }
  &-location{
    text-align: left;
    color: $gray-dark;
  }

}

/* Adjustments for smaller screens */

@media (min-width: 450px) {
  body {
    font-size: 14px
  }
  .session {
    &-list{
      .label{
        font-size: 90%;
        padding: .2em .6em .3em;
      }
    }
    &-title {
      float:left;
      width: 75%;
    }
    &-location {
      float: right;
      width: 25%;
      text-align: right;
    }
  }

}

@media (min-width: 768px) {

    #day-menu {
      .dropdown-menu {
        display: block;
        opacity: 0;
        top: -500px;
        -moz-transition: opacity 500ms ease;
        -webkit-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        -ms-transition: opacity 500ms ease;
        transition: opacity 500ms ease;

        &:hover{
          display: block;
          opacity: 1;
          top: 50px;
        }
    }
     > .dropdown-toggle:hover + .dropdown-menu {
        opacity: 1;
        top: 50px;
    }
     > .dropdown-toggle:hover {
        background-color: #e7e7e7;
    }
  }
}
.btn-sign-up {
  background: $pure-orange;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: -5px;
}

.video-link {

  margin-left: 3px;
   > .fa {
    font-size: 22px;
    color: $gray-extra-dark;
    &:hover {
      color: $red-dark;
    }
  }

}

.session-link {

  > .fa {
    font-size: 18px;
    color: $gray-extra-dark;

      &:hover {
        color: $vivid-blue;
      }

  }

  & + .inputbox {
    font-size: 12px;
  }

}

@media (max-width: 450px) {

  .session-link > .fa {
    font-size: 24px;
  }

  .video-link > .fa {
    font-size: 28px;
  }

  .btn-sign-up {
    font-size: 15px;
    margin-top: -8px;
  }

  .session-title {
    line-height: 1.5;
  }

}

@media (max-width: 500px) {

  .nav>li>a {
    padding:8px !important;
  }

}
.inputbox {
  width:35%;;
  padding: 4px;
  margin-left: 5px;
}

::selection {
  background-color: $pure-orange;
  color: #FFFFFF;
}

.footer {
  bottom: 0;
  margin: 0;
  color: $gray-dark;
  padding: 15px;
  text-align: center;
  height: 100px; 
  }

@mixin sponsorimages {
  padding:3% ;
  margin:1%;
  display: block;
  max-width:100%;
  width: auto;
  height: auto;
}
.large {
  @include sponsorimages;
  max-height:200px; 
}
.medium {
  @include sponsorimages;
  max-height:140px;
}
.small {  
  @include sponsorimages;
  max-height:120px;
}

.sponsors {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 25px 0px;
  background-color: $white;
  border: 1px solid $gray-perfect;
  border-radius: 4px;
}

.mediumoffset:first-child{
  margin-left: 8.33%;
}

.smalloffset {
  margin-left: 41.66666667%;
}
.largeoffset {
  margin-left: 36%;
}
.sublargeoffset :first-child {
   margin-left: 16.6%;
}
.subsmalloffset {
   margin-left: 41.66666667%;
}
@media (max-width: 792px) { 
.sublargeoffset :first-child {
   margin-left: 0%;
}
.mediumoffset:first-child{
  margin-left: 0%;
}
}
@media (max-width: 892px) { 
.largeoffset  {
  margin-left: 10%;
}
.smalloffset {
  margin-left: 10%;
}

}
 .centre {
   display: block;
   margin: 0 auto;
 } 
/* Track SCSS */

.event { 
  border-bottom: 1px solid rgba(0,0,0,0.15); 
  border-left: 1px solid transparent; 
  border-radius: 4px; 
  border-right: 1px solid rgba(0,0,0,0.15); 
  border-top: 1px solid transparent; 
  cursor: pointer; 
  display: block; 
  margin: 0 12px 12px 0; 
  position: relative; 
  background: $light-skyblue; 
  width:auto; 
  text-shadow: 1px 1px 0 rgba(255,255,255,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.25); 
  word-wrap: break-word;

  } 
.sizeevent {
  padding: 20px;
  width: auto;
  font-weight: 400;
  font-style: normal;
}
.sizeevent span {
  font-weight :700;
}
.trackwidth {
  width: 112px;
}
@media (max-width: 660px) {
  .event {
    max-width: 400px; 
  }
}
@media (max-width: 660px) {
  .event {
     max-width: 270px;
  }
  

}
#track-list { 
  margin-top:8%; 
  margin-bottom: 8%; 
} 

.height{ 
  min-height: 70px; 
  border-right: 1px solid $black; 
} 
.text{ 
  color: $black; 
  word-wrap: break-word;
} 
.tracks {
  min-height: 70px; 
  border-left: 1px solid rgba(0,0,0,.10);
}
/* Pop over Track */

.arrow {
  position: absolute;
  width: 25px;
  height: 10px;
  overflow: hidden;
  left:6px;
  z-index: 1000;
  margin-top: -2.3%;

  span {
    display: block;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
    -moz-transform: rotate(45deg) skew(-10deg, -10deg);
    -ms-transform: rotate(45deg) skew(-10deg, -10deg);
    -o-transform: rotate(45deg) skew(-10deg, -10deg);
    transform: rotate(45deg) skew(-10deg, -10deg);
    zoom: 1;
    margin: 1px 0 0 4px;
    background: #efefef;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
  }
}

.pop-box{
  width:355px;
  min-height:255px;
  height: auto;
  z-index:1000;
  position:absolute;
  border-radius:4px;
  border: 1px solid #c1c1c1;
  transition: all 0.5s ease;
  background-color:white;
    .pop {
    background-color: #fff;
      .pop-over {
        padding:2%;
        margin:10px;
      }
      .pop-footer {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #fff;
        padding:2%;
        line-height: .80em;
       
      }
   
      .pop-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #efefef;
        height: 35px;
        padding: 5px 5px 0;
        border-bottom: 1px solid #ddd;
      }

    }
  
  }
  #headline {
    padding:8px;
  }
  .main {
    margin-top :2%;
    padding:6%;
    margin-bottom :1%;
    border-radius: 4px; 
    background-color: $main-background;
  }


//Speakers Styling

.card-container {
  padding:4%;

  .card {
    margin-top:30%;
    width: 250px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.125);
    display: block;
    margin: 0 auto;
    background-color: $white;

    .card-img-top {
      overflow: hidden;
      width:248px;
      height:235px;
    }
    .card-block {
      height:330px;
      overflow-y:hidden;
      overflow-x:hidden;
      padding: 2%;
      
      &:hover {
      overflow-y: overlay;
      }
      .card-text {
        color: $blue-shade;
        padding:1%;
        line-height:normal;
        word-wrap: break-word;
      }
      .description {
        margin: 4%;
        text-align: center;
        padding:4px;
        color: $black;
      }
    }

      .icons {
        text-align: center;
        color: $gray-extra-dark;
        font-size: 18px;
        padding: 4%;
        height : 43px;
      }
  }
}

/*
.filter-heading span{
  position :relative;
  color: $black;
}
.filter-heading span:after{
  left:100%;
  margin-left:0.5em;
}
.filter-heading span:after{
  right:100%;
  margin-right:0.5em;
}
.filter-heading span:after, .filter-heading span:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  display: block;
  width:349px;
  margin-top: -2px;
  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;
}
.track-heading span:after,.track-heading span:before {
  width:299px;
}
*/
.active {
  color: $gray-extra-dark !important;
  font-weight:bold;
}
.sesroom {
  color: $white;
  padding:1%;
  max-width: 500px;
  margin-left: 4%;
}

// titles with color codes
.titlecolor{
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  .title-inline { 
    padding:0;
    li{
      display:inline-block;
    }
  }

  .track-names {
    margin-top: 16%;
    padding: 2%;
    color: black;
  } 

 @media (max-width: 990px) {
    .title-inline {
      width: 50%;
      float: left;
    }
    .track-names {
      margin-top :0;
    }
  }

/*
@media (max-width: 1202px) and (min-width: 760px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 270px; 
  }
}
@media (max-width: 760px) and (min-width: 664px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 223px; 
  }
}
@media (max-width: 664px) and (min-width: 620px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 213px; 
  }
}
@media (max-width: 620px) and (min-width: 581px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 188px; 
  }
}
@media (max-width: 581px) and (min-width: 550px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 176px; 
  }
}
@media (max-width: 550px) and (min-width: 521px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 156px; 
  }
}
@media (max-width: 550px) and (min-width: 521px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 156px; 
  }
}
@media (max-width: 521px) and (min-width: 421px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 134px; 
  }
}
@media (max-width: 421px) {
  .filter-heading span:after, .filter-heading span:before  {
    width: 116px; 
  }
}

*/
@media (max-width: 544px) {
  .pop-box {
    width : 350px;
    .arrow {
      margin-top :-2.5%;
    }
  }

}
.header-pop {
  padding: 1%;
  display: inline-block;
  cursor:pointer;
}

//event page

.carousel, .carousel .item {
  height: 500px;

  &-caption {

    z-index: 10;
    bottom: 100px;
    color: $white;
    left: 15%;  
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    padding-bottom: 20px; 

    h4, h1 {
      color: $white;
    } 
    
  }
}

@media (min-width: 768px) {
  .carousel-caption h1 {
    font-size: 50px;
  }

}

.eventpage {
  margin-top: -66px;
  position: relative;
  
  .listing-panel {
    background-color: $white;
    border-color: $event-border;
    border-style: solid;
    border-width: 0 0 1px;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
 }

}

.eventdes {
  color: $gray-dark;
  padding-top: 30px;
  text-align: justify;
}

.speaker-info {
  height: 280px;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
  .name { 
    padding: 0 4px;
    word-wrap: break-word; 
  }
}

#map {
  display: block;
  height: 100%;
  margin: auto;
  min-height: 360px;
  width: 100%;

}
.speakers-row {
  padding: 0px 15px;

  .speaker-column {
    padding: 0px;

    .speaker {
      position: relative;
      margin-bottom: 36px;
      
      span {
        display: block;
        font-size: 16px;
      }
      .social-links {
        width: 100%;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transform: translate3d(0px,-200px,0px);
        -webkit-transform: translate3d(0px,-200px,0px); 
        -moz-transform: translate3d(0px,-200px,0px);

        a {
          color: #fff;
          font-size: 24px;
          display: inline-block;
          margin-left: 6px;
        }
        a:hover {
          color: red;
        }
    }
      
     .image-holder {
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;

        .background-image {
          height: 300px;
          width: 300px;
          display: block;
          margin: 0 auto;
        }
        .social-links {
          position: absolute;
          top: 0%;
        }
        &:hover {
          .hover-state {
            opacity: 1;
            .social-links {
              position: absolute;
              top: 140%;
            }
          }

        }
        .hover-state {
          max-width: 300px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          opacity: 0;
          background: rgba(0,0,0,0.5);
          transition: all 0.3s ease-out;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;

          .bio {
            margin-left: 10px;
            margin-right: 10px;
            max-width: 280px;
            color: #fff;
          }

        }
      }
    }
  }
}  

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.speaker-name {
  color: $light-black;
  height: 22px;
}

.middle {
  text-align: center;
  padding: 4%;
}

.sponsorscont {
  padding: 72px 0;
}

.sponsorimg {
  height: 80px;
  line-height: 80px;
  margin-bottom: 36px;
  img {
    max-height: 80px;
    max-width: 150px;
  }  
}

.duplicatable-content {
    padding-bottom: 36px;
}
.speaker-with-bio {
    overflow: hidden;
    margin-bottom: 36px;
    .speaker {
      width: 50%;
      float: left;
      margin-bottom: 0px;
        .image-holder {
          position: relative;
          overflow: hidden;
          &:hover {
            .hover-state {
               opacity: 1;
               .social-links {
                  position: absolute;
                  top: 140%;
                  width: 100%;
                  transition: all 0.3s ease-out;
                  -webkit-transition: all 0.3s ease-out;
                  -moz-transition: all 0.3s ease-out;
                  transform: translate3d(0px,-200px,0px);
                  -webkit-transform: translate3d(0px,-200px,0px);
                  -moz-transform: translate3d(0px,-200px,0px);
               } 
            }
            
          }
            .background-image {
              height: 250px;
              width: 250px;
            }
        }
      .hover-state {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          opacity: 0;
          background: rgba(0,0,0,0.5);
          transition: all 0.3s ease-out;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
              .social-links {
                position: absolute;
                top: 0%;
                a {
                  color: #fff;
                  font-size: 24px;
                  display: inline-block;
                  margin-left: 6px;
                }
              }
        }
    }
      .speaker-description {
        width: 50%;
        float: left;
        padding-left: 30px;
        span {
        display: inline-block;
        margin-bottom: 18px;
        font-weight: 600;

        }
        p {
          font-size: 14px;
          line-height: 24px;
          margin: 0 0 10px;
        }
      }
    }
