
@charset 'UTF-8';

// 1.Base
@import '_base/_config.scss';

/* Offsets for fixed navbar */
body {
  background-color:$corp-color !important;
  color: $corp-color;
  font: 12px 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 50px;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: $light-black;
  font-weight: 300;
}

a {
  color: $gray-dark;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
.active {
  color:black !important;
  border-bottom: 2px solid gray;
}
/* Social media icons for speakers */
  .speaker-social {
      margin-right: 0.3em;
       &:hover {
        text-decoration: none;
        }
  }

}

/* Navbar adjustments */
.logo {
  max-width: 110px;
  max-height: 45px;
}
.navbar-default {
  background-color: $header-color;
  border-color: $gray-extra-light;
}

.navbar-toggle {
  padding: 6px 10px;
  color: $gray-dark;
}

/* General styling of session list */

.session{
  &-description {
    color: $gray-dark;
  }
  &-type {
    color: $gray-dark;
  }
  &-list {

    li{
      cursor: pointer;
    }
    .label {
      background: #ff8700;
      border-color: $light-purple;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 80%;
      margin-left: -8px;
    }
    .session-title {
      margin-top: 0.1em;
        .session-link {
          font-size: 12px;
        }
    }
  }
  &-location{
    text-align: left;
    color: $gray-dark;
  }

}

/* Adjustments for smaller screens */

@media (min-width: 450px) {
  body {
    font-size: 14px
  }
  .session {
    &-list{
      .label{
        font-size: 90%;
        padding: .2em .6em .3em;
      }
    }
    &-title {
      float:left;
      width: 75%;
    }
    &-location {
      float: right;
      width: 25%;
      text-align: right;
    }
  }

}

@media (min-width: 768px) {

    #day-menu {
      .dropdown-menu {
        display: block;
        opacity: 0;
        top: -500px;
        -moz-transition: opacity 500ms ease;
        -webkit-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        -ms-transition: opacity 500ms ease;
        transition: opacity 500ms ease;

        &:hover{
          display: block;
          opacity: 1;
          top: 50px;
        }
    }
     > .dropdown-toggle:hover + .dropdown-menu {
        opacity: 1;
        top: 50px;
    }
     > .dropdown-toggle:hover {
        background-color: #e7e7e7;
    }
  }
}
.btn-sign-up {
  background: $pure-orange;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: -5px;
}

.video-link {

  margin-left: 3px;
   > .fa {
    font-size: 22px;
    color: $gray-extra-dark;
    &:hover {
      color: $red-dark;
    }
  }

}

.session-link {

  > .fa {
    font-size: 18px;
    color: $gray-extra-dark;

      &:hover {
        color: $vivid-blue;
      }

  }

  & + .inputbox {
    font-size: 12px;
  }

}

@media (max-width: 450px) {

  .session-link > .fa {
    font-size: 24px;
  }

  .video-link > .fa {
    font-size: 28px;
  }

  .btn-sign-up {
    font-size: 15px;
    margin-top: -8px;
  }

  .session-title {
    line-height: 1.5;
  }

}

@media (max-width: 500px) {

  .nav>li>a {
    padding:8px !important;
  }

}
.inputbox {
  width:35%;;
  padding: 4px;
  margin-left: 5px;
}

::selection {
  background-color: $pure-orange;
  color: #FFFFFF;
}

.footer {
  bottom: 0;
  margin: 0;
  color: $gray-dark;
  padding: 15px;
  text-align: center;
  }

@mixin sponsorimages {
  padding:3% ;
  margin:1%;
  display: block;
  max-width:100%;
  width: auto;
  height: auto;
}
.large {
  @include sponsorimages;
  max-height:200px; 
}
.medium {
  @include sponsorimages;
  max-height:140px;
}
.small {  
  @include sponsorimages;
  max-height:120px;
}

.sponsors {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 25px 0px;
  background-color: $white;
  border: 1px solid $gray-perfect;
  border-radius: 4px;
}

.mediumoffset:first-child{
  margin-left: 8.33%;
}

.smalloffset {
  margin-left: 41.66666667%;
}
.largeoffset {
  margin-left: 36%;
}

@media (max-width: 892px) { 
.largeoffset  {
  margin-left: 10%;
}
.smalloffset {
  margin-left: 10%;
}

}
 .centre {
   display: block;
   margin: 0 auto;
 } 
/* Track SCSS */

.event { 
  border-bottom: 1px solid rgba(0,0,0,0.15); 
  border-left: 1px solid transparent; 
  border-radius: 4px; 
  border-right: 1px solid rgba(0,0,0,0.15); 
  border-top: 1px solid transparent; 
  cursor: pointer; 
  display: block; 
  margin: 0 12px 12px 0; 
  position: relative; 
  background: $light-skyblue; 
  width:auto; 
  margin-left: 4%; 
  max-width: 500px; 
  } 
@media (max-width: 885px) {
  .event {
    max-width: 400px; 
  }
}
@media (max-width: 660px) {
  .event {
     max-width: 270px;
  }
  

}
#track-list { 
  margin-top:8%; 
  margin-bottom: 8%; 
} 

.height{ 
  min-height: 70px; 
  border-right: 1px solid $black; 
} 
.text{ 
  color: $black; 
} 

/* Pop over Track */

.arrow {
  position: absolute;
  width: 25px;
  height: 10px;
  overflow: hidden;
  left:6px;
  z-index: 1000;
  margin-top: -3%;

  span {
    display: block;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(45deg) skew(-10deg, -10deg);
    -moz-transform: rotate(45deg) skew(-10deg, -10deg);
    -ms-transform: rotate(45deg) skew(-10deg, -10deg);
    -o-transform: rotate(45deg) skew(-10deg, -10deg);
    transform: rotate(45deg) skew(-10deg, -10deg);
    zoom: 1;
    margin: 1px 0 0 4px;
    background: #efefef;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
    box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
  }
}

.pop-box{

  width:300px;
  height:164px;
  z-index:1000;
  position:absolute;
  left:187px;
  border-radius:4px;
  border: 1px solid #c1c1c1;
  transition: all 0.5s ease;
  background-color:white;
    .pop {
    background-color: #efefef;
    padding:1%;
    max-height: 126px;
    overflow-y: auto;
    overflow-x: hidden;
      .pop-over {
        padding:2%;
      }
      .pop-footer {
        height:38px;
        background-color :#fff;
      }
    }
  
  }
  #headline {
    padding:8px;
  }
  .main {
    margin-top :2%;
    padding:6%;
    margin-bottom :1%;
    border-radius: 4px; 
    background-color: $main-background;
  }


//Speakers Styling

.card-container {
  padding:4%;

  .card {
    margin-top:30%;
    width: 250px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.125);
    display: block;
    margin: 0 auto;
    background-color: $white;

    .card-img-top {
      overflow: hidden;
      width:248px;
      height:235px;
    }
    .card-block {
      height:330px;
      overflow-y:hidden;
      overflow-x:hidden;
      padding: 2%;
      
      &:hover {
      overflow-y: overlay;
      }
      .card-text {
        color: $blue-shade;
        padding:1%;
        line-height:normal;
      }
      .description {
        margin: 4%;
        text-align: center;
        padding:4px;
      }
    }

      .icons {
        text-align: center;
        color: $gray-extra-dark;
        font-size: 18px;
        padding: 4%;

      }
  }
}
.filter-heading span{
  position :relative;
  color: $black;
}
.filter-heading span:after{
  left:100%;
  margin-left:0.5em;
}
.filter-heading span:after{
  right:100%;
  margin-right:0.5em;
}
.filter-heading span:after, .filter-heading span:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  display: block;
  width:349px;
  margin-top: -2px;
  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;
}
.track-heading span:after,.track-heading span:before {
  width:299px;
}
.active {
  color: $gray-extra-dark !important;
  font-weight:bold;
}
.sesroom {
  color: $white;
  padding:1%;
}
@media (max-width: 1202px) and (min-width: 760px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 270px; 
  }
}
@media (max-width: 760px) and (min-width: 664px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 223px; 
  }
}
@media (max-width: 664px) and (min-width: 620px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 213px; 
  }
}
@media (max-width: 620px) and (min-width: 581px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 188px; 
  }
}
@media (max-width: 581px) and (min-width: 550px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 176px; 
  }
}
@media (max-width: 550px) and (min-width: 521px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 156px; 
  }
}
@media (max-width: 550px) and (min-width: 521px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 156px; 
  }
}
@media (max-width: 521px) and (min-width: 421px){
  .filter-heading span:after, .filter-heading span:before  {
    width: 134px; 
  }
}
@media (max-width: 421px) {
  .filter-heading span:after, .filter-heading span:before  {
    width: 116px; 
  }
}