.md-toolbar-tools {
  background: #FFEB00 !important;
  color: #000;
  font-family: monospace; }

.md-grid-tile-footer {
  background: #FFEB00 !important;
  color: #000;
  font-family: monospace; }

.md-card-content {
  background: #FFEB00 !important;
  color: #000;
  font-family: monospace; }

.md-subheader-content {
  color: #000 !important;
  border-color: !important;
  font-family: monospace; }

.md-input-focused:not(.md-input-invalid) > input {
  color: #000 !important;
  border-color: #000 !important;
  font-family: monospace; }

.md-input-focused:not(.md-input-invalid) > label {
  color: #000 !important;
  border-color: !important;
  font-family: monospace; }
