.input-append .btn.dropdown-toggle {
    float: none;
}
.input-box{
  display:inline-flex;
}
.imagestyle{
	width: 80px;
	height:80px;
    border-radius: 50%;
    margin: 8%;
}
.card{
	margin-top:30%;
    width: 250px;
    height: 448px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,0.125);
}
.card-img-top{
	width:248px;
	height:248px;
	margin:0 auto;
	overflow: hidden;
	display:block;
}
.card-text{
	color: #2482d3;
}

