.input-append .btn.dropdown-toggle {
    float: none;
}
.input-box{
  display:inline-flex;
}
.main_container{
	background-color:#172d44;
}
.imagestyle{
	width: 80px;
	height:80px;
    border-radius: 50%;
    margin: 8%;
}
.card{
	margin-top:30%;
    width: 202px;
    height: 258px;
    border: 1px solid black;
    border-radius: 2%;
}
.card-img-top{
	width:200px;
	height:200px;
	margin:0 auto;
	overflow: hidden;
	display:block;
}
.card-text{
	color: #2482d3;
}
