
<md-dialog
        ng-controller="TrackDialogController as tdc" aria-label="{{tdc.track.name}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{tdc.track.name}}</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="tdc.close()">
                    <md-icon md-svg-src="assets/img/ic_toolbar_close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            
            <div ng-if="tdc.count(tdc.track, tdc.allSessions)>0">
                <md-list-item ng-repeat="session in tdc.sessionsDetail(tdc.track, tdc.allSessions)">
                    <div>
                        <b> {{session.title}} </b>
                        <md-subheader>{{session.subtitle}}</md-subheader>
                        <md-chips>
                            
                            <md-chip> <b>Type: </b> {{ session.format.label_en}}</md-chip>
                            <md-chip> <b> Level: </b>{{ session.level.label_en }}</md-chip>
                            <md-chip> <b> Language: </b>{{ ession.lang.label_en }}</md-chip>
                        </md-chips>
                        <h4> Abstract </h4>
                        <p>
                            {{session.abstract}}
                        </p>
                        <h4> Description </h4>
                        <p>
                            {{session.description}}
                        </p>
                        <h4> Speakers </h4>
                        <p ng-repeat="speaker in session.speakers">
                                {{speaker.name}}
                        </p>
                        <md-divider></md-divider>
                        <md-divider></md-divider>
                        
                    </div>
                    
                </md-list-item>
            </div>
            <div ng-if="tdc.count(tdc.track, tdc.allSessions)==0">
                <b> No Sessions listed under this Track</b>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

