.background{
	list-style:none;
	display:inline-block;
	margin: 0;
	padding:0;
	border:1px solid black;

}
.main-container{
	min-width: 1114px;
	height:auto;
	background-color: #333;
	margin-right:3%;
	padding: 1%;
	min-height:432px;
}
.item-wrapper{
	opacity: .7;
}
.tweet{
	float:left;
	width:50%;

	
}
.image{
	width: 50%;
    padding: 4%;
    float:left;
}
.text{
	float:left;
	width:50%;
	font-size: 100%;
    overflow: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding-top: .5em;
    padding-bottom:10px;
    margin-bottom:8px;
    font-family: 'Roboto', sans-serif;
	
}
.container-tweet{
	width:504px;
	height:240px;
	background-color:rgba(0, 0, 0, 0.59);;
	color:#fff;
	border-radius:5%;
	position: absolute;
    top: 130px;
    word-wrap: break-word;
    left: 280px;
    padding-top: 3%;
    line-height:20px;
    overflow: hidden;

}
.loader{
	position: absolute;
    top: 130px;
    left:480px;
}

.animation{
	animation:aayush 2s;
	-webkit-animation:aayush 2s;
}
@-webkit-keyframes aayush{
	0%{
		transform:rotateY(0deg);
			}
	25%{
		transform:rotateY(90deg);
		
	}
	50%{
		transform:rotateY(180deg);
		
	}
	75%{
		transform:rotateY(270deg);
	
	}
	100%{
		transform:rotateY(360deg);
	}
   
}
@keyframes aayush{
	0%{
		transform:rotateY(0deg);
			}
	25%{
		transform:rotateY(90deg);
		
	}
	50%{
		transform:rotateY(180deg);
		
	}
	75%{
		transform:rotateY(270deg);
	
	}
	100%{
		transform:rotateY(360deg);
	}
   
}
.backgroundanimation{
	animation:backgroundanimation 5s;
	-webkit-animation:backgroundanimation 5s;
}
@-webkit-keyframes backgroundanimation{
	from{
		opacity:.1%;
	}
   to{
   	opacity: 1%;
   }
}
@keyframes backgroundanimation{
	from{
	opacity:.1%;
	}
   to{
   	opacity: 1%;
   }
   
}
.heading-tweet{
	font-size: 130%;
    font-weight: bold;
    color:#fff;
    padding: 2%;
}
.mention{
	font-size: 120%;
    font-weight: bold;
    color:#fff;
    padding:2%;
}