<div class="mobile-track-room-list">
  {{#each roomsnames}}
    <div class="mobile-track-room-info">
      <span style="background-color: #777;" class="titlecolor"></span>
      <span class="room-name">{{this}}</span>
    </div>
  {{/each}}
</div>
