<div class="social-buttons">
  <div class="facebook social-button" id="fb-share">
    <i class ="fa fa-facebook fa-2x" aria-hidden="true"></i>
  </div>
  <div class="twitter social-button" id="tw-share">
    <i class ="fa fa-twitter fa-2x" aria-hidden="true"></i>
  </div>
  <div class="google social-button" id="go-share">
    <i class ="fa fa-google-plus fa-2x" aria-hidden="true"></i>
  </div>
</div>
