<div class="fb-share facebook social-button">
  <i class="fa fa-facebook fa s-button" aria-hidden=true></i>
</div>
<div class="tw-share twitter social-button">
  <i class="fa fa-twitter fa s-button" aria-hidden=true></i>
</div>
<div class="go-share google social-button">
  <i class="fa fa-google-plus fa s-button" aria-hidden=true></i>
</div>
<div class="li-share facebook social-button">
  <i class="fa fa-linkedin fa s-button" aria-hidden=true></i>
</div>
