<div id="mobile-track">
  {{#tracknames}}
    {{#if title}}
      <div class="mobile-track-info">
        <span style="background-color: {{color}};" class="titlecolor"></span>
        <span class="track-name">{{title}}</li>
      </div>
    {{/if}}
  {{/tracknames}}
</div>
