<div class="mobile-track-room-list">
  {{#tracknames}}
    {{#if title}}
      <div class="mobile-track-room-info">
        <span style="background-color: {{color}};" class="titlecolor"></span>
        <span class="track-name">{{title}}</span>
      </div>
    {{/if}}
  {{/tracknames}}
</div>
