<div ng-controller="MapController as mc" class="md-default-theme">
    <md-content>
        <div class="md-whiteframe-z3 md-padding">
            <leaflet
                    center="locationCenter" markers="markers"
                    center="london" height="480px" width="100%">

            </leaflet>
        </div>

    </md-content>
</div>

<div ng-controller="AddressController">
	<h1>{{ street }}
	</br>{{ locality }}
	</br>{{ city }}
	</br>{{ country }}
	</br>{{ postalCode }}
	</h1>
</div>