@charset 'UTF-8';
@import '../../_base/config';
// 1.Overwrite stuff
$corp-color: $dark-black;
$corp-color-darken: darken($corp-color, 10%);
$corp-color-second: $blue;
$corp-color-second-dark: darken($corp-color-second, 10%);
  
$base-font-size: 1.6;
$base-font-family: Droid Sans, Georgia, Arial;
  
$base-border-radius: 0px;
$base-border-color: $gray-light;
$main-background:$black-main;
$gray-darkshade:#dbcfbf;
$gray-extra-light:#111111;
$header-color:#111111;
$timeroom-color: #f8f0e3;
$light-skyblue:#a58ea2;
$session-color: #f8f0e3;
$filter-heading: #fff;

@import '../../application';
