@charset "UTF-8";
@import "../../_base/config";

// 1.Overwrite stuff

$corp-color: $dark-black;
$corp-color-darken: darken($corp-color, 10%);
$corp-color-second: $blue;
$corp-color-second-dark: darken($corp-color-second, 10%);
$base-font-size: 1.6;
$base-font-family: Droid Sans, Georgia, Arial;
$base-border-radius: 0;
$base-border-color: $gray-light;
$main-background: $black-main;
$gray-darkshade: #dbcfbf;
$gray-extra-light: #111111;
$header-color: #333d5a;
$timeroom-color: #f8f0e3;
$light-skyblue: #a58ea2;
$session-color: #f8f0e3;
$filter-heading: #fff;
$schedule-color: $white;
$event-color: $white;
$head-color: $white;
$room-color: $white;
// Currently used for the filter search box.  Matches the filter button borders (currently #ccc from Bootstrap's .btn-default)
$filter-input-border-color: #ccc;
$date-button:$gray-perfect;
$text-color: $white;
$navbar-color: #2b324a;
$navbar-text-color: $white;
$background: #333d5a;
$background-shade: #333d5a;
$white-classic-background: #23294a;
$link-color: $light-blue;
$hover-color: $light-blue;
$speaker-name: $white;
$span-background: #333d5a;
$tracks-border-left: #f5f5f5;

@import "../../application";
