#btnLive {
    display: none;
}

#btnDownload {
    display: none;
}

input[type="file"] {
    height: inherit;
    display: block;
}

section,
center,
.progress {
    margin-bottom: 20px;
    margin-top: 20px;
}
