#btnLive {
  display: none;
}

#btnDownload {
  display: none;
}

input[type="file"] {
  display: block;
  height: inherit;
}

section,
center{
  margin-bottom: 20px;
  margin-top: 20px;
}

.upload-progress{
  border-radius: 0;
  border: 1.1px solid #cecece;
  height: 12px;
  margin-top: 4px;
}

#upload-info{
  background: rgb(237, 237, 237);
  border: 0.7px solid rgb(219, 219, 219);
  height: 30px;
  margin: 0;
  padding: 5px 10px;
}

.progressbar{
  padding-left:10px;
  padding-right:10px;
}

.close{
  line-height: 0.85;
}

pre#buildLog{
  font-size: 12px;
  max-height: 400px;
  overflow-y: auto;
  text-align: left;
  word-break: unset;
}

#btnLive, #btnDownload, #deploy {
  margin-top : 1%;
}

div.form-div-board {
  background: #fffc;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: #000;
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 20px;
}
